body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.calculadora {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 500px;
    height: 500px;
    border: 2px solid #4CAF50;
}

#resultado {
    grid-column: 1 / -1;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 24px;
    text-align: right;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}


button {
    padding: 15px;
    font-size: 18px;
    border: none;
    background-color: #e0e0e0;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #d0d0d0;
}

.operador {
    background-color: #f0f0f0;
}

.igual {
    background-color: #4CAF50;
    color: white;
    grid-row: span 4;
}