
        body {
            font-family: Arial, sans-serif;
            margin: 0;

            background-color: #b3d134;
            color: #ffffff;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: flex-start; /* Cambiado de center a flex-start para alinear hacia arriba */
            height: 100vh;
            padding-top: 20px; /* Agregado para dar un espacio superior */
        }


        .contenedor {
            padding: 30px;
            text-align: center;
            display: flex;
            width: 90%;
            max-width: 800px;
            flex-direction: column;
            justify-content: flex-start; /* Alinea los elementos al principio del contenedor */
            gap: 20px; /* Agregado para espaciar elementos sin usar márgenes individuales */
        }

        h1 {
            font-size: 2em;
            margin-bottom: 10px;
            text-transform: uppercase;
        }

        p {
            font-size: 1.2em;
            margin: 10px 0 20px 0;
        }

        .categoria{
            font-size: 1.2em;
            margin: 20px 0;
            text-transform: uppercase;
        }

        .palabra{
            font-size: 2em;
            font-weight: bold;
            letter-spacing: 15px;
            margin-bottom: 20px;
        }

        .vidas{
            font-size: 1.2em;
            margin-bottom: 20px;
        }

        .alfabeto{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
        }

        .alfabeto button{
            background-color: #ffffff;
            color: #92c83e;
            border: none;
            border-radius: 5px;
            padding: 10px 15px;
            font-size: 1em;
            cursor: pointer;
            transition: background 0.3s;
        }

        /*        .alfabeto:hover{
                    background: #92c83e;
                    color: #ffffff;
                }
        */
        .alfabeto button:disabled{
            background-color: #cccccc;
            color: #666666;
            cursor: not-allowed;
        }


        .boton-reiniciar {
            background: #ffffff;
            color: #92c83e;
            border: none;
            border-radius: 5px;
            padding: 15px 20px;
            font-size: 1.2em;
            cursor: pointer;
            margin-top: 20px;
            transition: background 0.3s;
        }

        .boton-reiniciar:hover {
            background: #ffffff;
            color: #444444;
        }
