body {
    font-family: Arial, sans-serif;
    background-color: #89cff0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

#tablero-juego {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-gap: 10px;
    justify-content: center;
}

.carta {
    width: 100px;
    height: 150px;
    background-color: #34495e;
    background-image: repeating-linear-gradient(
    40deg,
    #ecf0f1,
    #ecf0f1 10px,
    #bdc3c7 10px,
    #bdc3c7 20px
    ) ;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: transparent;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.carta.girada {
    background-color: #2ecc71; /* Fondo visible al girar */
    color: white; /* El texto se muestra al girar */
    background-image: none; /* Elimina las líneas del reverso */
}

.carta.emparejada {
    background-color: #27ae60;
    pointer-events: none; /* No permite hacer clic en cartas emparejadas */
}

#timer {
    font-size: 1.5em;
    margin-top: 10px;
}
